

*{
    margin: 0;
    padding: 0;
}
:root{
    --bs-primary:#D92519 !important;
    --bs-white:#fff !important;
    --bs-dark:#141615 !important;
    --bs-light:#444444 !important;
    
}
/* fixed-icon-start */
.fixed-icon{
    position: fixed;
    right: 0;
    bottom: 100px;
    z-index: 99999;
}

/* Spinner Start */
/* Spinner */
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/* Spinner End */

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.5s;
    z-index: 99;
}

/* Button Start */
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-xl-square {
    width: 66px;
    height: 66px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
    color: var(--bs-white);
    border: none;
    background-color: var(--bs-dark);
}

.btn.btn-primary:hover {
    background: var(--bs-dark);
    color: var(--bs-primary);
}

.btn.btn-light {
    color: var(--bs-primary);
    border: none;
}

.btn.btn-light:hover {
    color: var(--bs-white);
    background: var(--bs-primary);
}


/* Topbar Start */


.topbar .content a {
     text-decoration: none;
     font-weight: 500;
}

/* Topbar End */



/* Navbar */
.navbar-light .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: var(--bs-white);
    font-size: 17px;
    font-weight: 400;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link,
.sticky-top.navbar-light .navbar-nav .nav-item .nav-link {
    padding: 20px 0;
    color: var(--bs-white);
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: var(--bs-white);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link.active  {
    color: var(--bs-primary);
    font-weight: 400;
}

.navbar-light .navbar-brand img {
    max-height: 100px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 100px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light);
    transition: .5s;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--bs-light) !important;
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--bs-dark);
    }

    .navbar-light .navbar-nav .nav-item .nav-link {
        color: var(--bs-dark);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }

    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
    }
    .sticky-top.navbar-light {
        position: fixed;
        background:var(--bs-light);
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--bs-primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        bottom: -1px;
        left: 50%;
        background: var(--bs-primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::after,
    .navbar-light .navbar-nav .nav-link.active::after {
        width: 2px;
        height: 12px;
    }
}
/* Navbar End */

/* Carousel Hero Header Start */
.header-carousel .header-carousel-item img {
    object-fit: cover;
}

.header-carousel .header-carousel-item,
.header-carousel .header-carousel-item img {
        height: 600px;
        width: 100%;
        object-fit: contain;
}


.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background:var(--bs-primary) !important;
    color:#fff !important;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev {
    bottom: 30px;
    left: 30px;
    margin-left: 90px;
}
.header-carousel .owl-nav .owl-next {
    bottom: 30px;
    left: 30px;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 0 0 100px 0 var(--bs-white);
    color: var(--bs-primary) !important;
}


.header-carousel .header-carousel-item .carousel-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    padding-top: 120px;
    background: rgba(110, 110, 110, 0.329);
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .header-carousel .header-carousel-item .carousel-caption {

        display: none;
    }
    .header-carousel .header-carousel-item,
.header-carousel .header-carousel-item img {
        height: 100%;
        width: 100%;
        object-fit: contain;
}
}

@media (max-width: 767px) {
    .header-carousel .owl-nav .owl-prev {
        left: 50%;
        transform: translateX(-50%);
        margin-left: -45px;
    }


    .header-carousel .owl-nav .owl-next {
        left: 50%;
        transform: translateX(-50%);
        margin-left: 45px;
    }
}


.header-carousel .header-carousel-item img {
    /* animation-name: image-zoom; */
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 1s;
}

@keyframes image-zoom {
    0%  {height: 100%; opacity: 0.9;}

    25% {height: 110%; opacity: 0.50;}

    50% {height: 115%; opacity: 1;}

    75% {height: 110%; opacity: 0.50;}

    100% {height: 100%; opacity: 0.9;}
}
/* Carousel Hero Header End */
/* about us start */
.about{
    background: linear-gradient(rgba(255, 255, 255, 0.795),rgba(255, 255, 255, 0.795)),url(../images/banner/Imag_3\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about h1{
    color: var(--bs-light);
    font-weight: 300;
}
.about .para{
    text-align: justify;
}
/* service card css start */
.services .service-card {
    border-radius: 10px;
    overflow: hidden;
    height: 520px;
    transition: 0.5 ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.services .service-card .service-img {
    position: relative;
    width: 100%;
}

.services .service-card .service-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}
.services .service-card:hover .service-img img{
    transform: scale(1.06);
}
.services .service-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;        }
.services .service-card:hover .service-content{
    background-color: #444444;
    color: #fff;
} 
.services .service-content{
    padding: 5px 15px;
    transition: 0.5s ease-in-out;
    height: 100%;
}
.services .service-content a{
    text-decoration: none;
    padding: 8px 20px;
    border: 1px solid #4444;
    color: #000;
    font-weight: 400;
}
.services .service-card:hover .service-content a{
    text-decoration: none;
    padding: 8px 20px;
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
}
.services .service-content p {
    text-align: justify;
    font-size: 15px;
}
.line{
    height: 3px;
    width: 50px;
    background-color: var(--bs-primary);
    display: inline-block;
    transition: 0.5s ease-in-out;
}
.services .service-card:hover .line{
    background-color: #fff;
}
.services .view-all-card a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding: 5px 15px;
    border: 1.5px solid var(--bs-light);
    transition: 0.5s ease-in-out;
}
.services .view-all-card a:hover{
    color: var(--bs-white);
    background-color: var(--bs-light);
    padding: 5px 15px;
    border: 1.5px solid var(--bs-white);
}
/* service card css end */
/* our products start */
.our-products .product-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.our-products .product-card a {
    text-decoration: none;
}
.our-products .product-card a:hover .product-name {
    background-color: #fff;
    color: #D92519;
    border: 1px solid #afafaf;


}

.our-products .product-card .product-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border: 1px solid #afafaf;
    background-color: #000000;
    color: #fff;
    transition: 0.5s ease-in-out;
}
/* our products end */
/* industries we serve start */
.industries .inustry-card  {
    position: relative;
    overflow: hidden;
  
}
.industries .inustry-card .img-content img{
    transition: 0.6s ease-in-out;
}
.industries .inustry-card:hover .img-content img {
   transform: scale(1.06);
}

.industries .inustry-card .overflow-text {
    position: absolute;
    transform: translateY(-100%);
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #4444447c;
    padding: 10px 20px;
}
/* industries we serve end */
/* contact-us-start */
.contact-us {
    background: linear-gradient(#4444449f,rgba(0, 0, 0, 0.733)),url(../images/banner/contact-us.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.contact-us .contact-addr{
margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:768px){
    .contact-us .contact-addr{
        margin-top: 0px;
        
        }
}
.contact-us .form form input {
    background-color: #44444449;
    color: #ffff;
}

.contact-us .form form label {
    color: #fff;
}

.contact-us .form form textarea {
    background-color: #44444449;
    color: #ffff;
}

.contact-us .form form .captcha-paragraph {
    background-image: url(../images/logo/captcha.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us .form form .captcha-paragraph p {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 5px;
    color: #ffff;
    font-style: italic;
    padding-top: 3px;
}

.contact-us .form form button {
    background-color: #000 !important;
    color: #fff;
    padding: 15px 0px;
    transition: 0.5s ease;
}

.contact-us .form form button:hover {
    background-color: #fff !important;
    color: #D92519;
}
/* contact-us end */
/* blogs start */
.blogs .blog-card{
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #444444;
}
.blogs .blog-card .img{
    overflow: hidden;
    border-radius: 10px;
    
}
.blogs .blog-card .blog-content p{
   text-align: justify;
}
.blogs .blog-card .blog-content a{
    text-decoration: none;
    color: #D92519;
    font-weight: 500;
    transition: 0.5s ease;
}
.blogs .blog-card .blog-content a:hover{
    letter-spacing: 3px;
}
/* bogs end */

/* footer start */

.footer {
    position: relative;
    /* margin-top: 45px; */
    padding-top: 80px;
    padding-bottom: 40px;
    /* background: ; */
    color: #ffffff;
    background:linear-gradient(#44444498,rgba(0, 0, 0, 0.575)),url(../images/industries-images/footer-image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .footer .footer-about,
  .footer .footer-link,
  .footer .footer-contact {
    position: relative;
    margin-bottom: 45px;
    color: #fff;
  }
  
  .footer .footer-about h2,
  .footer .footer-link h2,
  .footer .footer-contact h2{
    position: relative;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    color: var(--bs-white);
  }
  
  .footer .footer-link a {
      text-decoration: none;
    display: block;
    margin-bottom: 10px;
    color: #fff;
    transition: .3s;
  }
  
  .footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
  }
  
  .footer .footer-link a:hover {
    color: var(--bs-dark);
    letter-spacing: 1px;
  }
  .footer .footer-about a img{
    height: 130px;
  }
  .footer .footer-contact p i {
    width: 25px;
  }
  
  .footer .footer-social {
    position: relative;
    margin-top: 20px;
  }
  
  .footer .footer-social a {
    display: inline-block;

  }
  
  .footer .footer-social a i {
    margin-right: 15px;
    font-size: 18px;
    color: var(--bs-white);
    transition: 0.5s ease-in-out;
  }
  
  .footer .footer-social a:last-child i {
    margin: 0;
  }
  
  .footer .footer-social a:hover i {
    color: var(--bs-primary);
  }
  
  .footer .footer-menu .f-menu {
    position: relative;
    padding: 15px 0;
    /* background: var(--red); */
    background: var(--bs-dark);
    font-size: 0;
    text-align: center;
  }
  
  .footer .footer-menu .f-menu a {
      text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
  }
  
  .footer .footer-menu .f-menu a:hover {
    color: var(--bs-primary);
  }
  
  .footer .footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
  
  
  .footer .copyright {
    padding: 30px 15px;
  }
  
  .footer .copyright p {
    margin: 0;
    color: #fff;
  }
  
  .footer .copyright .col-md-6:last-child p {
    text-align: right;
  }
  
  .footer .copyright p a {
    color: var(--red);
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .footer .copyright p a:hover {
    color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
  }
/* footer end */